.imagenNosotros{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.nostros__title{
    text-align: center;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px grey;
    color:black;
    padding: 20px 20px;
    font-size: 50px;
    background-color: hsl(56, 97%, 52%);
}

.nosotros{
    padding: 10px;
    background-color: #d2f6f8;
}

.foto{
    height:500px;
    width:100%;
    object-fit: cover;
}

.nosotrosTexto{
    padding: 20px;
    font-size:20px;
}
.contenedorNosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}
$animal:gato;

@for $i from 1 through 3 {
    .texto-#{$i} {
        width: 20em * $i;
        background-color: fuchsia;
        border: solid 1px black;
        color: fuchsia;
    }
    
}

.grilla{
    display: flex;
    justify-content: center;
    
}