.container-fluid {
    padding: 20px;
}

.productos__title {
    text-align: center;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px grey;
    color: black;
    padding: 20px 20px;
    font-size: 40px;
    background-color: hsl(56, 97%, 52%);
}

.productos {
    padding: 10px;
    background-color: #d2f6f8;
}

h3 {
    text-transform: uppercase;
    text-align: center;
}

.textoproducto {
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-size: 20px;
    margin: 10px;
    text-shadow: 3px 3px 3px grey;
}

.btn {
    display: flex;
    justify-content: center;
}

.btn:hover {
    transition: all 300ms;
    transform: scale(1.02)
}